.about {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  main {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    font-size: 16px;
    flex-direction: column;
    align-items: center;

    @media (min-width: 730px) {
      flex-direction: row;
      padding-top: 80px;
      align-items: flex-start;
    }
  }

  .role {
    color: #222222;
    display: inline-flex;
    padding: 5px 0px;
    background-color: #ffffff;
    line-height: 22px;
  }

  .infos {
    font-size: 16px;
    text-decoration: none;
    text-transform: lowercase;
    background-color: red;
    text-transform: lowercase;
    background-color: #2e2e2e;
    display: inline;
  }

  .column {
    width: 100%;
    max-width: 400px;
    position: relative;

    @media (min-width: 730px) {
      width: 20%;
    }
  }

  .bio {
    line-height: 2.2em;
    width: 100%;
    padding: 0 20px;

    @media (min-width: 730px) {
      max-width: 500px;
      padding: 20px 0 0 80px;
      width: 75%;
    }
  }

  .headshot {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 730px) {
      align-items: flex-end;
    }

    img {
      width: 110%;
      height: 250px;
      object-fit: cover;
      right: 0;
      max-width: none;
      margin-bottom: 20px;
      filter: grayscale(100%);

      @media (min-width: 730px) {
        width: 500px;
        height: 500px;
      }
    }
  }

  .paragraph {
    margin-bottom: 20px;
  }

  .control {
    margin: 20px 0 30px 0;
    display: flex;

    li {
      margin-right: 10px;
    }
  }

  .toggle {
    display: flex;
    margin: 40px 0;

    button {
      margin-right: 30px;
    }
  }
}

.career-path {
  &.-academic {
    .role {
      display: inline;
      background-color: #141414;
      color: white;
      font-weight: 400;
    }

    .infos {
      background: none;
    }
  }
}

.about-career-experience {
  margin: 60px 0;
  p {
    font-size: 16px;
  }
}
