.banner-description {
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 330px;
  line-height: 1.8em;
  font-size: 14px;

  @media (min-width: 730px) {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.banner-title {
  margin-bottom: 8px;
}

.banner-subtitle {
  margin-bottom: 22px;
}

.home {
  height: 100svh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  main {
    padding: 0 20px;
    @media (min-width: 730px) {
      margin-top: -100px;
    }
  }
}

.shortcut {
  justify-content: flex-start;
}

.home .header {
  display: flex;
  justify-content: space-between;
}

.-link-blocked {
  a {
    cursor: not-allowed;
  }
  opacity: 0.4;
  text-decoration: line-through;
}

.-button-blocked {
  cursor: not-allowed !important;
  opacity: 0.4 !important;
  text-decoration: line-through;

  &:hover {
    text-decoration: line-through !important;
    opacity: 0.4 !important;
    color: #777777 !important;
  }
}