.banner-description {
  line-height: 1.8em;
  font-size: 14px;

  @media (min-width: 730px) {
    font-size: 20px;
  }
}

.banner-title {
  font-size: 4rem;
  line-height: 1;
  margin-top: -50px;

  @media (min-width: 1368px) {
    font-size: 5rem;
    line-height: 0.9;
  }
}

.banner-holder {
  @media (max-width: 1368px) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: -300px;

    @media (max-width: 490px) {
      margin-top: -200px;
    }

    .banner-title {
      font-size: 3rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      @media (max-width: 490px) {
        font-size: 2rem;
      }
    }

    .banner-description {
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 0;

      @media (max-width: 490px) {
        max-width: 300px;
      }
    }
  }

  
}

.banner-subtitle {
  margin-bottom: 22px;
}

.home {
  height: 100svh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  main {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 20;
    position: relative;
  }
}

.shortcut {
  justify-content: flex-start;
}

.home .header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100svw;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  height: 0;

  .header-list {
    position: relative;
    z-index: 100;
  }
}

.-link-blocked {
  cursor: not-allowed;
  a {
    cursor: not-allowed;
  }
  opacity: 0.4;
  text-decoration: line-through;
}

.-button-blocked {
  cursor: not-allowed !important;
  opacity: 0.4 !important;
  text-decoration: line-through;

  &:hover {
    text-decoration: line-through !important;
    opacity: 0.4 !important;
    color: #777777 !important;
  }
}

.post {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--tw-text-gray-primary);
  strong {
    color: var(--tw-text-gray-primary);
    font-weight: 500;
  }
}

.blog-ticker {
  margin-top: 2rem;
  position: fixed;
  bottom: 5px;
  z-index: 30;
  left: 0;
  display: flex;
  animation: ticker 30s linear infinite alternate;
  gap: 5px;

  &:hover {
    animation-play-state: paused;
  }
}

.blog-ticker-wrapper {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 5px;
  transform: translateY(100%);
  opacity: 0;
  animation: slideUp 0.3s ease forwards;
  animation-delay: 1.5s;
}

.blog-ticker-item {
  flex: 0 0 auto;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: transform 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: translateY(-4px);
    font-weight: bold;
  }

  .emoji {
    font-size: 1.1rem;
    margin-right: 0.5rem;
    display: block;
  }

  h3 {
    font-size: 1rem;
  }
}

.blog-ticker-title {
  position: fixed;
  bottom: 65px;
}

@keyframes ticker {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-160%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}