.banner-description {
  margin-top: 0px;
  margin-bottom: 40px;
  max-width: 300px;
  line-height: 1.5em;
  font-size: 16px;
}

.banner-title {
  margin-bottom: 8px;
}

.banner-subtitle {
  margin-bottom: 22px;
}


.home {
  margin-top: -100px;
}

.shortcut {
  justify-content: flex-start;
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
  }
}


