.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  align-items: flex-start;
  z-index: 0;

  &.-opened {
    opacity: 1;
    pointer-events: auto;
    z-index: 75;
  }

  .layer {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: var(--bg-primary);
    z-index: 20;
    position: absolute;
    inset: 0;
  }

  .panel {
    width: 400px;
    max-width: 80vw;
    height: auto;
    max-height: 400px;
    background-color: #313131;
    top: 80px;
    position: relative;
    z-index: 21;
    border-radius: 5px;
    overflow: scroll;

    @media (min-width: 730px) {
      top: 150px;
    }

    .search {
      margin-bottom: 10px;
      background: none;
      border: none;
      width: 100%;
      outline: none;
      color: white;
      font-size: 16px;

      &::placeholder {
        color: #727272;
      }
    }

    .panel-header {
      padding: 20px 20px 10px 20px;
    }

    ul {
      margin: 0;
      li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        padding: 12px 0px;
        cursor: pointer;
        border-bottom: 1px solid #3b3b3b;

        svg {
          transition: transform 0.3s ease;
        }

        &:hover, &.-active {
          background: #474747;

          a {
            text-decoration: none;
          }

          svg {
            transform: scale(1.5);
            stroke: white;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        .description {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 3px 20px;
        }

        svg {
          color: #bdbdbd;
          font-size: 16px;
        }

        p {
          margin-left: 15px;
          color: white;
          line-height: 20px;
        }
      }
    }

    .empty {
      padding: 10px 20px 30px 20px;
      color: #808080;
      display: flex;
      align-items: center;

      svg {
        color: #bdbdbd;
        font-size: 16px;
        margin-right: 15px;
      }
    }
  }
}
