.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: -1;

  &.-opened {
    opacity: 1;
    pointer-events: auto;
    z-index: 15;
  }

  .layer {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #282c32;
    z-index: 20;
    position: absolute;
    inset: 0;
  }

  .panel {
    width: 400px;
    height: 400px;
    background-color: #35393f;

    position: relative;
    z-index: 21;
    border-radius: 5px;
    padding: 20px;
  }
}
