.header {
  padding: 30px;

  .container {
    display: grid;
    width: 100%;
    max-width: none;
    grid-template-columns: repeat(3, 33.3333333%);
  }

  .header-control,
  .header-list {
    display: flex;
    margin: 0;
  }

  .shortcut {
    display: flex;
    justify-content: center;
  }

  .header-logo {
    a {
      color: #ffffff;
    }
  }

  .header-list {
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
