.header {
  padding: 30px 20px;
  width: 100vw;
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  

  .header-control,
  .header-list {
    display: flex;
    margin: 0;
  }

  .shortcut {
    display: flex;
    justify-content: center;
  }

  .header-logo {
    a {
      color: #ffffff;
    }
  }

  .header-list {
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 10px;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        &.-active {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
}
