.shortcut {
  display: flex;
  align-items: center;
  font-size: 8px;
  position: absolute;
  margin: auto;

  p {
    margin: 0 3px;
    color: #5a6371;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .key {
    background-color: #3b4048;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
}
